<div class="card">
  <div class="card_left">

      <img class="" src="http://ww1.hdnux.com/photos/66/17/06/14217632/3/920x920.jpg"/>

  </div>
  <div class="card_right">
    <div class="row">
      <div class="col-sm-12">
        <h1>Seattle Seahawks (+3)</h1>
      </div>
    </div>
    <div class="card_right__details">
      <ul>
        <li>2003</li>
        <li>111 min</li>
        <li>Action</li>
      </ul>

      <div class="card_right__button">
        <a href="https://www.youtube.com/watch?v=ot6C1ZKyiME" target="_blank">WATCH TRAILER</a>
      </div>
    </div>
  </div>
</div>
