<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Wildcard Matchup #1</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= render 'left_card' %>
      </div>

      <div class="col-md-6">
        <%= render 'right_card' %>
      </div>
    </div>
  </div>
</div>
