<div class="row row-no-padding row-three">
  <div class="col-sm-6 btns">
      <button class="cool-btn phi">
        Pick
      </button>
  </div>
  <div class="col-sm-6 btns">
    <button class="cool-btn phi">
      Lock Pick
    </button>
  </div>
</div>
