<div class="card">
  <div class="card_left">

      <img class="" src="https://usatdraftwire.files.wordpress.com/2017/10/usatsi_10348193.jpg?w=1000&h=600&crop=1"/>

  </div>
  <div class="card_right">
    <div class="row">
      <div class="col-sm-12">
        <h1>New Orleans Saints (-3)</h1>
      </div>
    </div>
    <div class="card_right__details">
      <ul>
        <li>2003</li>
        <li>111 min</li>
        <li>Action</li>
      </ul>


      <div class="row">
        <div class="col-6-sm">
          <h4> hey
          <i class="ionicons ion-ios-ion-locked-outline lock"></i>
        </h4>
        </div>
        <div class="col-6-sm">
          <div class="card_right__button">
            <a href="https://www.youtube.com/watch?v=ot6C1ZKyiME" target="_blank">Make Pick!</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
