


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h2> Leaderboard </h2>
  </div>

  <table class="table">
    <thead>
      <th>Position</th>
      <th>Username</th>
      <th>Score</th>
      <th>Locks Left</th>
    </thead>
    <tbody>
      <% x = 1 %>
      <% @users.each do |user| %>
        <tr>
          <td><%= x %> </th>
          <td><%= link_to user.username, user %>
              <% user.championships.times do %>
                <span class="ion-trophy"></span>
              <% end %>
          </td>
          <td><%= user.score %></td>
          <td><%= user.lock_points %></td>
        </tr>
        <% x += 1 %>
      <% end %>
    </tbody>

  </table>
</div>
