.jumbo-header {
  margin: 0 0 20px 0;
}

.pick-status {
  margin-top: 3px;
  font-size: 12px;
}

.delete-pick {
  color: #ff0000;
  border-color:  #ff0000;
}

.delete-pick:hover {
  background: #ff0000;
}

.small-logo {
  width: 40px;
}

.cool-div {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  height: 90%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  font-size: 15px;
  vertical-align: bottom;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  text-align: center;

  -webkit-transition-duration: .5s;
        transition-duration: .5s;
}

.status {
  padding-top: 7px;
  vertical-align: bottom;
}

.cool-btn {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  height: 90%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-size: 13px;
  border: solid 2px;
  margin-left: 10px;
  text-decoration: none;

  -webkit-transition-duration: .5s;
        transition-duration: .5s;
}
  .cool-btn:hover {
    text-decoration: none;
    color: black;
    -webkit-transition-duration: .5s;
        transition-duration: .5s;
}

.btns {
  height: 50%;
}

.on-top {
  z-index: 99;
}

.detail-holder {
  height: 80%;
  text-align: center;
}

.right-con {
  height: 175px;
}

.row-one {
  height: 30%;
}

.row-two {
  height: 25%;
}

.row-three {
  height: 45%;
}

.profile-pic {
  border-radius: 10px;

}

.matchup {
  margin-bottom: 30px;
}

.lock {
  color: white;
}

.focus-btn {
  background: #9e9c9c;
}

.matchup-title {
  text-align: left;
}

.lock-time {
  text-align: right;
  padding: 15px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.status-board {

  margin: 30px;
}

.cool-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

.inline {
  display: inline-block;
}



@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);




.card {
  width:100%;
  height:175px;
  overflow: hidden;
  background:transparent;
  margin:auto;
  margin-bottom: 30px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  &_left {
    width:40%;
    height:175px;
    float:left;
    overflow:hidden;
    background:transparent;

     .glyphicon {
        position: absolute;
        top: 0px;
        left: 25px;
        font-size: 64px;
        color: white;
        z-index: 99;
    }
    img {
      height:175px;
      min-width: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      border-radius:10px 0 0 10px;
      -webkit-border-radius:10px 0 0 10px;
      -moz-border-radius:10px 0 0 10px;
      position:relative;
    }
  }
  &_right {
    width:60%;
    float:left;
    background:#000000;
    height:175px;
    border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
   h1 {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:50;
    text-align:center;
    font-size:20px;
    margin:10px 0 8px 0;
    padding:0 0 0 15px;
    letter-spacing:1px;
   }
  .details {
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    color:#e3e3e3;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
  }
  }
}



/* team styles */

.atlantafalcons {
  color: #A6192E;
  border-color:  #A6192E;
}

.atlantafalcons:hover {
  background: #A6192E;
}

.baltimoreravens {
  color:  #D0B240;
  border-color:  #D0B240;
}

.baltimoreravens:hover  {
  background: #D0B240;
}

.carolinapanthers {
  color:  #0085CA;
  border-color:   #0085CA;
}

.carolinapanthers:hover  {
  background:  #0085CA;
}

.dallascowboys {
  color:  #7F9695;
  border-color: #7F9695;
}

.dallascowboys:hover  {
  background: #7F9695;
}

.detroitlions {
  color: #0069B1;
  border-color: #0069B1;
}

.detroitlions:hover  {
  background: #0069B1;
}

.greenbaypackers {
  color:  #175E33;
  border-color:  #175E33;
}

.greenbaypackers:hover  {
  background:  #175E33;
}

.jacksonvillejaguars {
  color:  #006073;
  border-color:  #006073;
}

.jacksonvillejaguars:hover  {
  background:  #006073;
}

.houstontexans {
  color: #A6192E;
  border-color: #A6192E;
}

.houstontexans:hover  {
  background: #A6192E;
}

.kansascitychiefs {
  color: #C8102E;
  border-color: #C8102E;
}

.kansascitychiefs:hover  {
  background: #C8102E;
}

.losangeleschargers {
  color: #0072CE;
  border-color: #0072CE;
}

.losangeleschargers:hover  {
  background: #0072CE;
}

.losangelesrams {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.losangelesrams:hover  {
  background: #FFFFFF;
}

.newenglandpatriots {
  color: #C8102E;
  border-color: #C8102E;
}

.newenglandpatriots:hover  {
  background: #C8102E;
}

.minnesotavikings {
  color: #FFC62F;
  border-color: #FFC62F;
}

.minnesotavikings:hover  {
  background: #FFC62F;
}

.neworleanssaints {
  color: #D3BC8D;
  border-color: #D3BC8D;
}

.neworleanssaints:hover  {
  background: #D3BC8D;
}

.pittsburgsteelers {
  color: #FFB81C;
  border-color: #FFB81C;
}

.pittsburgsteelers:hover  {
  background: #FFB81C;
}

.philadelphiaeagles {
  color: #869397;
  border-color: #869397;
}

.philadelphiaeagles:hover  {
  background: #869397;
}

.oaklandraiders {
  color: #A5ACAF;
  border-color: #A5ACAF;
}

.oaklandraiders:hover   {
  background: #A5ACAF;
}

.seattleseahawks {
  color:  #4DFF00;
  border-color:  #4DFF00;
}

.seattleseahawks:hover  {
  background:  #4DFF00;
}

.tennesseetitans {
  color:  #4B92DB;
  border-color:  #4B92DB;
}

.tennesseetitans:hover  {
  background:  #4B92DB;
}






/* end team styles */
