<h1>Welcome to the 6th Annual NFL Playoff ATS Challenge!</h1>

<p><%= t('.instruction', default: 'You can confirm your account email through the link below:') %></p>

<p><%= link_to t('.action', default: 'Confirm my account'),
         confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>

<p>Now go make some great picks!</p>
